<!-- <div class="bg">
  <div class="container">
    <div class="row">
      <div class="card" style="width: 20rem;">
        <img src="../assets/EP.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="parallax">
  <div class="row">
    <div class="column contentContact">
      <div class="card" style="width: 20rem; background-color: black; color: white;">
        <img src="../assets/EP.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Marina Melaré - Entre Idas e Vidas</h6>
          <p class="card-text">Escolha o serviço de música</p>
        </div>
        <ul class="list-group list-group-flush" style="color: black !important;">
          <!----------------------------------------------------------------SPOTIFY---------------------------------------------------------------->
          <li class="list-group-item">
            <img src="../assets/spotify.png" class="img-fluid" alt="">
            <a href="https://open.spotify.com/album/719vn44S1PNDsiN3aVHhd1?si=qusAfI18SOejuRWE8NuXfg" target="_blank"><button type="button" class="btn btn-outline-secondary">Ouvir</button></a>
          </li>
          <!----------------------------------------------------------------SPOTIFY---------------------------------------------------------------->

          <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
          <li class="list-group-item">
            <img src="../assets/youtube.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/playlist?list=PLewNqemcYcppUjwxIcvSkWBGmVJyjVdrA" target="_blank"><button type="button" class="btn btn-outline-secondary">Ouvir</button></a>
          </li>
          <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->

          <!----------------------------------------------------------------DEEZER---------------------------------------------------------------->
          <li class="list-group-item">
            <img src="../assets/deezer.png" class="img-fluid" alt="" style="height: 3vh !important;">
            <a href="http://www.deezer.com/album/159641852" target="_blank"><button type="button" class="btn btn-outline-secondary">Ouvir</button></a>
          </li>
          <!----------------------------------------------------------------DEEZER---------------------------------------------------------------->

          <!----------------------------------------------------------------ITUNES---------------------------------------------------------------->
          <li class="list-group-item">
            <img src="../assets/applemusic.png" class="img-fluid" alt="">
            <a href="https://music.apple.com/br/album/entre-idas-e-vidas-ep/1522792780?l=en" target="_blank"><button type="button" class="btn btn-outline-secondary">Ouvir</button></a>
          </li>
          <!----------------------------------------------------------------ITUNES---------------------------------------------------------------->
        </ul>
      </div>
    </div>

    <!-- <div class="column">

    </div> -->
  </div>

</div>

